body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* LOGIN */
.login-page {
  background: #020617;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  background: #020617;
  border: 1px solid #1e293b;
  padding: 30px 40px;
  border-radius: 8px;
  box-shadow: 0 0 40px rgba(0,0,0,.6);
  text-align: center;
}

.login-card h1 { color: white; font-size: 48px; }

.login-card input {
  width: 280px;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  border: none;
}

.senha-wrapper { position: relative; }
.olho {
  position: absolute;
  right: 10px;
  top: 12px;
  cursor: pointer;
}

/* DASHBOARD */
.dashboard-page {
  background: #020617;
  min-height: 100vh;
  padding: 40px;
  color: #e5e7eb;
}

.dashboard-card {
  max-width: 900px;
  margin: auto;
  background: #020617;
  border: 1px solid #1e293b;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 40px rgba(0,0,0,.6);
}

.filtros-linha { display: flex; gap: 30px; margin-top: 20px; }
.filtro { flex: 1; position: relative; }

.dropdown {
  position: absolute;
  top: calc(100% + 6px);
  left: 0;
  right: 0;
  background: white;
  max-height: 180px;
  overflow-y: auto;
  display: none;
  z-index: 10;
}

.btn-sair {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background: #dc2626;
  color: white;
  border: none;
  border-radius: 4px;
}
