/* ===== FILTROS ===== */
.filtros-linha {
  display: flex;
  gap: 24px; /* mais espaço entre empresa e convênio */
  margin-top: 20px;
}

.filtro {
  flex: 1;
  position: relative;
}

.filtro label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
}

.filtro input {
  width: 100%;
  padding: 8px 30px 8px 8px; /* espaço para seta */
  font-size: 14px;
  box-sizing: border-box;
}

/* SETINHA ▾ */
.filtro::after {
  content: "▾";
  position: absolute;
  right: 10px;
  top: 34px;
  pointer-events: none;
  color: #555;
}

/* DROPDOWN */
.dropdown {
  position: absolute;
  top: calc(100% + 4px); /* pequeno espaço entre input e menu */
  left: 0;
  right: 0;
  background: #fff;
  color: #000;
  border: 1px solid #ccc;
  max-height: 180px;
  overflow-y: auto;
  display: none;
  z-index: 20;
}

.dropdown div {
  padding: 8px;
  cursor: pointer;
}

.dropdown div:hover {
  background-color: #e6f0ff;
}
